{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "70"
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import"]
}
